
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f4f4f4;
        }

        header {
            background-color: #333;
            color: #fff;
            text-align: center;
            padding: 1em;
        }

        section {
            padding: 20px;
        }

        h2 {
            color: #333;
        }

        .container {
            max-width: 1200px;
            margin: 0 auto;
            overflow: hidden;
        }

        .hotel-image {
            max-width: 100%;
            height: auto;
        }

        .room {
            margin-bottom: 20px;
        }
    .room:hover{
        background-color: rgb(0, 255, 140);

    }